.hero{
    padding: 2.5vw;
    min-height: 80vh;//delimita a imagem verticalmente
    background-image: url(../images/furiosa-1.jpeg);
    background-size: 80%; //delimita a imagem horizontalmente
    background-position: center;

    @media(max-width:768px) {
        width: 100%;
        background-size: 1000px;
    }
    

    img{
        max-width: 32px;
        margin-right: 20px;
        padding-top: 50px
        
    }

    

    &__content{
        margin-top: 300px;
        padding-left: 150px;
        
        &__social{
            display: flex;
            list-style:none;
            justify-content: center;
            padding-right: 90px;
            padding-top: 50px;
        }
            &__button{
                text-align: center;
                padding-right: 100px;
                }
                
                button{
                    background-color: #d0a7a7;
                    border: 1px solid #fdfafa;
                    width: 20%;
                    box-shadow: inset 0 0 15px #2f031b;
                    border-radius: 30px;
                    padding: 12px 12px;
                    font-size: 16px;
                    font-family: "Bungee Tint", sans-serif;
                    font-weight: 100s;
                    font-style: normal;
                    color: #fff;
                    margin-left: 8px;
                    cursor: pointer;

                    @media(max-width:768px) {
                        width: 100%;
                        padding-right: 100px;
                        justify-content: center;
                    }
                }

        
    }
    
}




